body {
    background: #000;
    color: #ddd;
    font-family: helvetica;
}
table {
    border-collapse: collapse;
    white-space: nowrap;
    color: #4caf50;

}
th {
    background: #212121;
    font-weight: bold;
    border: solid 1px #355c36;
    padding: 8px;
    font-size: 12px;
}
tr {
    padding: 10px;
}
td {
    border: solid 1px #355c36;
    width: auto;
    padding: 8px 8px 8px 12px;
}

/*** footer */
footer {
    position: fixed;
    width: 100%;
    background: #0b4613;
    padding: 13px 0;
    bottom: 0;
    left: 0;
}

/** pagination */
#paging {
    text-align: center;
    bottom: 0;
}
#prevbtn, #nextbtn {
    padding: 5px 15px;
    margin-right: 20px;
    background: #d8d8d8;
    border-radius: 6px;
    border: inherit;
    box-shadow: 2px 2px 0px #595959, -2px -2px 0px #9f9f9f, -2px 2px 0px #4b4b4b, 2px -2px 0px #b9b9b999;
    color: #355c36;
}


/*** mobile */
@media screen and (max-width: 834px){
    
body {
    font-size: 12px;
}
table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
}
