body {
    background: #000;
    color: #4caf50;
    color: #ddd;
    font-family: helvetica;
}
table {
    border: solid 1px #4caf50;
    border-collapse: collapse;
    white-space: nowrap;
}
tr {
    padding: 10px;
}
td {
    border: solid 1px;
    width: auto;
    padding: 8px 8px 8px 12px;
}
th {
    background: #212121;
    font-weight: bold;
    border: solid 1px;
    padding: 8px;
    font-size: 1.2em;
}
/* mobile */
@media screen and (max-width: 834px){
table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
}
